/* app css stylesheet */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(https://fonts.gstatic.com/s/orbitron/v7/HmnHiRzvcnQr8CjBje6GQvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.header {
	background-color: #4096EE;
	color: white;
	margin-bottom: 40px;
	font-size: 20px;
	padding-bottom: 10px;
}

.header p {
	color: #C3D9FF;
}

h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.clock {
	font-family: 'Orbitron';
	font-size: 50px;
}

.btn-letter {
    margin-right: 10px;
    margin-bottom: 10px;"
}