/* app css stylesheet */

.header {
	background-color: #4096EE;
	color: white;
	margin-bottom: 40px;
	font-size: 20px;
	padding-bottom: 10px;
}

.header p {
	color: #C3D9FF;
}

h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
